/* Header partial */

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10; // for the box shadow to show
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 4em;
	text-align: right;
	box-shadow: 0 1px 10px 0 rgba(0,0,0,.2);
	background-color: rgb(58,54,54);
	// Typography
	font-size: 17px;
	letter-spacing: 0.5px;
	font-family: roboto;
	text-transform: uppercase;
	transition: all 0.3s ease-in-out;

	p {
		margin: 0 0 0 40px;
		font-weight: bold;
		color: #62A8B5;
		font-size: 1.2em;
		transition: all 0.3s ease-in-out;

		span {
			font-size: 0.7em;
		}
	}
	
	ul {
		padding: 0;
		margin: 0 40px 0 0;
		
		li {
			display: inline-block;
			margin-left: 25px;
			padding-bottom: 2px;
			
			a {
				color: #644D19;
				color: #E2E2E2;
				color: #EFEEEE;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: 1px;
			}
		}
	}
}

.nav--js-narrowed {
	height: 3em;
	transition: all 0.3s ease-in-out;

	p {
		font-size: 1.1em !important;
		transition: all 0.3s ease-in-out;
	}
}

.header {
	position: relative;
	height: 450px;
	margin-top: 4em;
	background-size: cover;
	
	$linear-gradient: linear-gradient(transparent, rgba(0,0,0,0.2), transparent);

	&--index-bg {
		background-image: url(./img/header/5.jpg);
		background-position: center bottom;

		background-image: url(./img/header/header-bg_3872w_60q.jpg);
		background-position: center 35%;

		background-image: url(./img/header/hlavicka_01.jpg);
		background-position: right;
	}
	&--gallery-bg {
		background-image: $linear-gradient, url(img/gallery-bg_3872w_35q.jpg);
	}
	
	&--nabidka-bg {
		background-image: $linear-gradient, url(img/nabidka-bg-1600w-45q.jpg);
		background-position: center 24%;
		
		background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)), url(./img/header/1.jpg);
		background-position: center 77%;
	}
	
	&--predchoziprace-bg {
		background-image: $linear-gradient, url(img/kontakt-bg_3872w_10q.jpg);
		background-position: center 24%;
	}
}

.header__txt {
	position: absolute;
	bottom: 40px;
	left: 40px;
	margin: 0 auto;
	font-size: 30px;
	font-style: italic;
	color: white;
}

.logo {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	line-height: 1.1;
	text-align: center;
	white-space: nowrap;
	
	h1, p {
		margin: 0;
	}

	h1 {
		display: none;
		color: white;
		font-family: tahoma;
		font-size: 28px;
		font-size: 4.4vw;
		font-style: oblique;
		text-shadow: 1px 1px 4px black;
	}

	p {
		color: white;
		font-family: roboto;
		font-size: 6vw;
		font-size: 80px;
		letter-spacing: 1px;
		text-shadow: 1px 1px 2px black;
		font-weight: 600;
	}

	.underline {
		display: flex;
		justify-content: center;
		overflow: hidden;
		
		&__txt {
			position: relative;
			font-size: 1.6vw;
			font-size: 28px;
			font-weight: 600;
			color: white;
		}
	}
}
