//
//
/* ***** INDEX PAGE *****/
//
//

.slogan
	margin: 0
	padding: 20px
	text-align: center
	// font-weight: bold
	font-style: italic
	font-size: 1.13em
	letter-spacing: 0.4px
	color: #757684
	background-color: #EDEEF3

.site-intro
	padding: 3.5em 20px 4.5em
	display: flex
	justify-content: center
	flex-wrap: wrap
	background-color: rgb(54,54,54)

.site-intro__h
	flex: 0 1 100%
	margin: 0
	text-align: center
	font-size: 1.1em
	font-weight: normal
	color: #D8D9E6

	strong
		display: inline-block
		margin-top: 10px
		color: #62A8B5

.site-intro__img
	flex: 0 1 auto
	width: 130px
	height: 130px
	margin-top: 25px
	border-radius: 50%
	background-image: url(./img/profile.jpg)
	background-position: 55% 58%
	background-size: 358%
	border: 3px solid #62A8B5

.site-intro__txt
	flex: 1 1 200px
	max-width: 400px
	margin: 25px 0 0 30px

	@media (min-width: $break-laptop)
		margin: 25px 0 0 60px
	
	line-height: 1.6
	letter-spacing: 0.4px
	color: #D8D9E6

