/**/
/* ******** Presentation ******** */
/**/
/**/
.presentation
	padding-bottom: 8%
	background-image: url(./img/prezentace/P8290226.jpg)
	background-size: cover
	// background-position: center
	background-color: #ECECF7
	// background-attachment: fixed


.article-presentation__h1
	// padding-bottom: 6%

.presentation__content
	// padding: 0 0 8%

	figure
		height: 490px
		width: 372px
		// display: flex
		// height: 320px
		padding: 2em 1.5em
		margin: 0 auto
		border-radius: 5px
		// background-image: linear-gradient(300deg, rgba(31, 32, 52, 0.7), transparent), url(./img/prezentace/P8290226.jpg)
		background-color: rgba(0,0,0,0.5)
		background-color: #397c88
		background-color: #24474D
		box-shadow: 1px 1px 6px rgb(0,0,0)
		white-space: normal // because of flipster
		word-spacing: 0 // because of flipster

		figcaption
			
			h1
				font-size: 1em
				color: white
				text-align: center

			p 
				margin: 1em auto
				// background-color: rgba(0,0,0,1)
				color: white
				line-height: 1.5		

		.img-container
			height: 170px
			border: 1px solid rgb(213, 213, 213)
			background-size: cover
			background-position: center

			&-1
				background-image: url(./img/picture-grid/pic-grid_03.jpg)

			&-2
				background-image: url(./img/picture-grid/pic-grid_06.jpg)

			&-3
				background-image: url(./img/picture-grid/pic-grid_07.jpg)

			&-4
				background-image: url(./img/picture-grid/pic-grid_04.jpg)

			&-5
				background-image: url(./img/picture-grid/pic-grid_05.jpg)


