/**/
/* ******** Presentation ******** */
/**/
/**/

.presentation-outer
	background-color: #212121

	@media screen and (min-width: $break-desktop)
		padding: 32px 0
		
.presentation
	max-width: 1600px
	margin: 0 auto
	position: relative
	//background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(./img/prezentace/P8290226.jpg)

	@media screen and (min-width: $break-desktop)
		box-shadow: 0px 0px 10px black

// Left Pane styles

//height: 624px

.upperPane
	position: relative
	z-index: 2 // for the box shadow on bottomPane
	height: 460px
	padding: 60px 20px 10px
	color: #D8D9E6
	color: white
	background: url(./img/prezentace/presentation_2x.jpg) center 0 / 1600px auto
	//background-size: 1600px auto
	//background-position: center -449px

	&__presIntro__p 
		max-width: 420px
		margin: 0 auto
		line-height: 1.8

	&__presIntro__p2
		margin: 40px auto 30px
		text-align: center

.presentation__title
	margin-bottom: 1em
	text-transform: uppercase

.bottomPane
	position: relative
	z-index: 1 // for the box shadow
	height: 160px
	padding: 50px 0
	color: #D8D9E6
	color: white
	background: url(./img/prezentace/presentation_2x.jpg) center 0 / 1600px auto
	//background-size: 1600px auto
	//background-position: center -902px
	box-shadow: 0px 0px 6px black

// Button to open slideshow

.leftPane__presBtn
	position: relative
	display: block
	height: 60px
	margin: 0 auto
	padding: 0
	border: none
	outline: none
	text-align: left
	background-color: rgba(0, 0, 0, 0.6)
	color: $highlight-color

	p 
		display: inline-block
		padding: 0 50px 0 20px
		text-align: left

	svg 
		position: absolute
		top: 15px
		right: 15px
		width: 16px
		transform: rotateY(180deg)

		path 
			fill: $highlight-color

	.presBtn__1st
		transform: rotateZ(-90deg)
		transition: all 0.4s ease-in-out

	.presBtn__2nd
		transform: rotateZ(-90deg) translateX(-6px)
		transition: all 0.2s ease-in-out

	&:hover .presBtn__1st
		transition: all 0.3s ease-in-out

	&:hover .presBtn__2nd
		transition: all 0.3s ease-in-out


.presBtn--rotated
	transform: rotateZ(90deg) translateX(13px) !important

.presBtn__1st--rotated
	//transform: rotateZ(0deg) translateX(0px) !important

// Right Pane styles

.rightPane 
	display: none
	height: 630px
	margin: 0 auto
	padding: 1.5em 20px
	list-style: none
	// background-image: linear-gradient(114deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 81%)
	overflow: hidden
	box-shadow: inset 1px 1px 10px black

	li
		margin: 0 auto
		padding: 3px 0
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
		
		span 
			font-size: 14px
			color: #62A8B5
			text-transform: uppercase
			font-weight: bold
			letter-spacing: 0.6px
			padding: 3px 10px
			border: 1px solid #62A8B5
			margin-right: 10px

		p 
			flex: 1 1 300px
			max-width: 523px
			margin: 0 0 0 2em
			color: #797979
			color: white
			line-height: 1.6

		.img-container
			width: 195px
			height: 138px
			// margin-right: 2em
			//border: 1px solid rgb(213, 213, 213)
			border-radius: 2px
			background-size: cover
			background-position: center

			$linear-gradient-pres: 'linear-gradient(rgba(255, 255, 255, 0.0) 5%,rgba(255, 255, 255, 0) 50%),'

			&-2
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_06.jpg)

			&-3
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_07.jpg)

			&-4
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_04.jpg)

			&-5
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_05.jpg)


