/**/
/* ******** Picture Grid ******** */
/**/
/**/

.picture-grid
	position: relative
	padding: 60px 0
	z-index: 3

	h2
		width: 1000px
		margin: 1em auto
		text-align: center

.picture-grid__wrap
	position: relative

	$pic-grid-width: 1000px
	$pic-grid-height: 398px
	width: $pic-grid-width
	height: $pic-grid-height
	margin: 50px auto
	// margin-left: -($pic-grid-width / 2)
	// margin-top: -($pic-grid-height / 2)

	background-image: url('img/picture-grid_laptop.jpg')
	background-size: contain
	/* For Retina */
	@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
		background-image: url('img/picture-grid_laptop_2x.jpg')

.grid__cell
	position: relative // for the slide-in divs
	
	float: left
	height: 194px
	margin-right: 10px
	overflow: hidden

	&--top-start
		width: 110px

	&--middle
		width: 320px

	&--top-end
		width: 220px
		margin-right: 0
		margin-bottom: 10px

	&--bottom-start
		width: 220px

	&--bottom-end
		width: 110px
		margin-right: 0

.slide-in
	position: absolute
	top: 0
	bottom: 0
	left: 100%
	
	width: 100%
	padding: 15px 19px 19px 19px
	background-color: rgba(0,0,0,0.8)
	color: white
	transition: 0.8s

	&__title
		text-align: center
		margin-top: 0
		margin-bottom: 5px
		padding-bottom: 5px
		border-bottom: 2px solid white
		font-size: 1em

	&__text
		margin: 0
		line-height: 1.4em
		
		&--aligncenter
			text-align: center

.grid__cell--hover:hover .slide-in
	transition: 0.8s
	left: 0

.js-slide-in
	left: 0

/* For Desktop Screens */
@media screen and (min-width: $break-desktop)
	.picture-grid__wrap
		background-image: url('img/picture-grid_desktop.jpg')
		
	/* For Retina Desktop */
	@media screen and (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
		.picture-grid__wrap
			background-image: url('img/picture-grid_desktop_2x.jpg')

@media screen and (min-width: $break-desktop)

	.picture-grid__wrap
		$pic-grid-width: 1300px
		$pic-grid-height: 517px
		width: $pic-grid-width
		height: $pic-grid-height
		// margin-left: -($pic-grid-width / 2)
		// margin-top: -($pic-grid-height / 2)

	.grid

		&__cell
			height: 252px
			margin-right: 13px

			&--top-start
				width: 143px

			&--middle
				width: 416px

			&--top-end
				width: 286px
				margin-bottom: 13px
				margin-right: 0

			&--bottom-start
				width: 286px

			&--bottom-end
				width: 143px
				margin-right: 0

// Bottom button styles

.show-slides
	position: absolute
	left: 0
	bottom: -27px
	cursor: pointer
	
	&__icon
		display: inline-block
		width: 30px
		margin-bottom: -9px
		margin-right: 8px
		
	&__txt
		font-size: 15px
		color: #6B6B6B
		
	&:hover
		font-weight: bold
	
	&:active .show-slides__icon
		width: 28px