/**/
/* ******** Presentation ******** */
/**/
/**/

.presentation-outer
	background-color: #212121

	@media screen and (min-width: 1600px)
		padding: 32px 10px

.article-presentation__h1
	padding: 50px 0 !important

.presentation__content
	max-width: 1600px
	margin: 0 auto
	position: relative
	overflow: hidden
	//background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.5)), url(./img/prezentace/P8290226.jpg)
	background-size: cover
	background-position: center

	@media screen and (min-width: 1600px)
		box-shadow: 0px 0px 10px black

// Left Pane styles

//height: 624px

.upperPane
	position: relative
	padding: 5em 20px 1em
	color: #D8D9E6
	color: white
	background-image: url(./img/prezentace/presentation_2x.jpg)
	background-size: 1600px auto
	background-position: center -339px

	&__h
		text-align: center
		font-size: 1.5em
		margin-bottom: 1em
		text-align: center
		text-transform: uppercase

	&__presIntro__p 
		max-width: 375px
		margin: 0 auto
		line-height: 1.8
		font-size: 18px

	&__presIntro__p2
		margin: 50px auto
		text-align: center
		font-size: 18px

.bottomPane
	position: relative
	padding: 1px 0 15px
	color: #D8D9E6
	color: white
	background-image: url(./img/prezentace/presentation_2x.jpg)
	background-size: 1600px auto
	background-position: center -769px

// Button to open slideshow

.leftPane__presBtn
	position: relative
	display: block
	width: 29px
	height: 30px
	margin: 2em auto
	padding: 0
	background-color: inherit
	border: none
	outline: none
	// background-color: rgba(0,0,0,1)
	
	.circle
		position: absolute
		width: 60px
		height: 60px
		padding-left: 15px
		border-radius: 50%
		background-color: rgba(0, 0, 0, 0.6)
		top: -10px
		left: -16px
		text-align: left
		font-size: 18px
		transition: all 0.2s ease-in-out

		p 
			opacity: 0
			color: $highlight-color

	&:hover .circle
		border-radius: 0
		width: 100px
		left: -45px
		transition: all 0.2s ease-in-out

	&:hover .circle p 
		opacity: 1
		transition: all 0.2s ease-in-out 0.2s

	svg 
		position: absolute
		width: 36px
		transform: rotateY(180deg)

		path 
			fill: $highlight-color

	.presBtn__1st
		top: 4px
		transform: rotateZ(-45deg)
		left: -4px
		transition: all 0.4s ease-in-out

	.presBtn__2nd
		top: 0
		left: -4px
		transform: rotateZ(135deg)
		transition: all 0.2s ease-in-out

	&:hover .presBtn__1st
		transform: rotateZ(-180deg) translate(-5px, 4px) scale(0.5)
		transition: all 0.3s ease-in-out

	&:hover .presBtn__2nd
		transform: rotateZ(-180deg) translateX(-15px) scale(0.5)
		transition: all 0.3s ease-in-out


.presBtn--rotated
	transform: rotateZ(0deg) translateX(12px) scale(0.8) !important

.presBtn__1st--rotated
	transform: rotateZ(180deg) translate(11px, 4px) scale(0.8) !important

// Right Pane styles

.rightPane 
	display: none
	margin: 0 auto
	padding: 1.5em 20px
	list-style: none
	// background-image: linear-gradient(114deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8) 81%)
	overflow: hidden
	box-shadow: inset 1px 1px 10px black

	li
		margin: 0 auto
		padding: 3px 0
		display: flex
		justify-content: center
		align-items: center
		flex-wrap: wrap
			
		h3
			margin: 0 0 0.5em
			font-size: 14px
			font-family: Open Sans
			color: #797979
			color: white
			text-align: center
			text-transform: uppercase
		
		span 
			font-size: 14px
			font-family: Open Sans
			color: #797979
			color: white
			color: #62A8B5
			text-transform: uppercase
			font-weight: bold
			letter-spacing: 0.6px
			padding: 2px 10px
			border: 1px solid #797979
			border: 1px solid white
			border: 1px solid #62A8B5
			margin-right: 10px

		p 
			flex: 1 1 300px
			max-width: 523px
			margin: 0 0 0 2em
			color: #797979
			color: white
			line-height: 1.6
			font-size: 16px	

			@media (min-width: 690px)
				font-size: 18px

		.img-container
			width: 195px
			height: 138px
			// margin-right: 2em
			//border: 1px solid rgb(213, 213, 213)
			border-radius: 2px
			background-size: cover
			background-position: center

			$linear-gradient-pres: 'linear-gradient(rgba(255, 255, 255, 0.0) 5%,rgba(255, 255, 255, 0) 50%),'

			&-2
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_06.jpg)

			&-3
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_07.jpg)

			&-4
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_04.jpg)

			&-5
				background-image: #{$linear-gradient-pres} url(./img/picture-grid/pic-grid_05.jpg)


