//
// Co nabizim
//	
.work
	background-color: #f3f3f3
	
.work__title
	position: relative
	margin: 0
	padding: 60px 0 45px
	color: #943B6C
	color: #AB6C8F
	color: #757684
	text-transform: uppercase

.work__ul
	max-width: 1606px
	margin: 0 auto
	padding: 0 10px 60px

	@media (min-width: 1000px)
		display: flex
		justify-content: center
		padding: 0 2px 115px

.secondary-nav .work__ul
	flex-wrap: wrap

.work__item
	max-width: 600px
	margin: 0 auto 20px
	list-style: none
	//flex: 1 1 320px
	border: 1px solid #DFDEDE
	background-color: white

.work__link
	position: relative
	display: block
	//height: 350px
	padding-bottom: 60%

	@media (min-width: 1000px)
		padding-bottom: 80% 
	
	background-size: cover
	background-position: center
	overflow: hidden

.ford-custom__link--bg
	background-image: url(./img/index/ma-prace/ford-custom.jpg)

.ford-2000__link--bg
	background-image: url(./img/index/ma-prace/ford-2000.jpg)

.ford-1996__link--bg
	background-image: url(./img/index/ma-prace/ford-1996.jpg)

.galerie__link--bg
	width: 800px
	margin: 0 auto
	background-image: url(./img/ford-custom/111.jpg)
	background-position: center top -80px

.galerie__link--under-txt
	width: 100%
	text-align: center
	font-size: 14px
	margin: 1.5em auto


.work__link__btn
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)
	padding: 3px 0 3px 5px
	border: 1px solid $highlight-color
	white-space: nowrap
	text-align: center
	font-weight: bold
	color: white
	background-color: rgba(0,0,0,0.6)

	p 
		display: inline-block
		margin: 0
		padding: 8px 20px
		border-left: 1px solid $highlight-color
		text-align: center
		font-size: 1.1em
		letter-spacing: 0.5px


.podsekce__svg
	display: inline-block
	width: 18px
	margin: 1px
	transform: translate(-3px, 3px) rotate(180deg)
	transition: all 0.2s ease-in-out

	path
		fill: $highlight-color

.work__txt
	margin: 0
	padding: 2em 20px
	color: #474141
	text-align: center