//
//
/* **** About **** */
//
//

.article-about__h1
	background-color: lavender

	&::after
		background-color: lavender

.about__content
	position: relative
	height: 78vh
	// padding-top: 20px

	background-image: url(img/ofirme.jpg)
	background-size: cover
	background-position: center 61%
	background-attachment: fixed
.about-txt
	position: absolute
	top: 50%
	transform: translateY(-50%)
	left: 59%
	// margin-left: 55%
	// border-radius: 1%
	// background-color: rgba(224, 224, 224, 0.8)
	line-height: 1.4
	color: #EFEFEF

	&__wrap
		max-width: 520px
		margin: 0 auto
		padding: 40px 50px

		h2 
			text-align: center
			font-size: 1em


//
// Sub-about
//
.sub-about
	margin: 0 auto
	padding: 80px 0 
	display: flex
	justify-content: center
	align-items: center

.profile-pic
	width: 200px
	height: 200px
	margin-right: 80px
	border-radius: 50%
	background-image: url(./img/profile.jpg)
	background-position: 55% 62%
	background-size: 317%

.profile__txt
	max-width: 450px
	line-height: 1.5
	text-align: center
	font-style: italic
	font-size: 18px
	letter-spacing: 0.4px
	color: #757684