//
//
/* **** About **** */
//
//
.about
	height: 600px
	// padding-top: 20px

	background-image: url(img/ofirme.jpg)
	background-size: cover
	background-position: center 61%

.about-txt
	height: 100%
	margin-left: 50%
	background-color: rgba(0,0,0,0.4)
	line-height: 1.4
	color: white

	&__wrap
		max-width: 450px
		margin: 0 auto
		padding-top: 80px

		h2 
			text-align: center