//
//
/* **** About **** */
//
//

.about
	background-image: url(img/ofirme.jpg)
	background-size: cover
	// background-position: center 61%
	// background-attachment: fixed

// .article-about__h1
	color: white

.about__content
	padding-bottom: 8%

.about-txt
	margin-left: 50%
	// border-radius: 1%
	// background-color: rgba(224, 224, 224, 0.8)
	line-height: 1.4
	color: #EFEFEF

	&__wrap
		max-width: 520px
		margin: 0 auto
		padding: 40px 50px
		background-color: rgba(0,0,0,0.3)

		h2 
			text-align: center
			font-size: 1em


//
// Sub-about
//
.sub-about
	margin: 0 auto
	padding: 60px 0 
	display: flex
	justify-content: center
	align-items: center

.profile-pic
	width: 190px
	height: 190px
	margin-right: 80px
	border-radius: 50%
	background-image: url(./img/profile.jpg)
	background-position: 55% 58%
	background-size: 358%

.profile__txt
	max-width: 450px
	line-height: 1.5
	text-align: center
	font-style: italic
	font-size: 18px
	letter-spacing: 0.4px
	color: #757684