//
//
/* **** Contact **** */
//
//
.contact
	padding: 60px 20px 60px
	background: url(img/kontakt-bg_1600w_41q.jpg) 55% 50% / 1600px auto no-repeat black

//.article-contact__h1
	color: white 

.contact-wrapper
	max-width: 350px
	margin: 0 auto

	h2
		font-size: 24px
		text-align: center
		color: white
		margin: 0 0 30px
		text-transform: uppercase

	p
		color: white
		font-size: 18px

		img 
			display: inline-block
			width: 18px
			margin-right: 10px

	address
		display: flex
		justify-content: space-between
		color: white
		font-size: 18px
		font-style: normal
		text-align: center

		p 
			margin: 0
			line-height: 1.6


	.contact__map
		width: 135px
		height: 85px

.contact-fb
	margin: 50px auto 10px
	text-align: center

.contact-fb-link
	display: block
	width: 56px
	margin: 0 auto
	padding: 8px
	border-radius: 6px
	transition: all 0.2s ease-in-out

	&:hover 
		background-color: black
		transition: all 0.2s ease-in-out

.contact-fb__icon
	width: 40px
	margin: 0 auto


//
// Sub-contact
//
.sub-contact
	padding: 4% 0
.contact-form
	max-width: 500px
	margin: 0 auto
	color: #545454
	
	h2
		font-size: 20px
		text-align: center
		color: #717171
		font-weight: normal
		margin: 0

.form__name, .form__email, .form__zprava
	padding-left: 10px
	border: 3px solid #62A8B5
	margin: 2em 0 1em
.form__name
	float: left
	width: 48%
.form__email
	float: right
	width: 48%

.form__zprava
	clear: both
	height: 150px

.form__sent
	width: 25%
	padding: 10px 0
	margin: 2em auto
	background-color: #62A8B5
	//border: 2px solid $headline-color
	text-align: center

	a 
		font-size: 14px
		font-weight: bold
		color: white
		text-transform: uppercase
		letter-spacing: 0.5px
