/* Footer */

.footer
	position: relative
	height: 100px
	display: flex
	align-items: center
	justify-content: space-between
	padding: 0 40px
	font-size: 0.9em
	color: #e1e1e1
	background-color: #3A3636

.footer__goTop, .footer__copyright, .footer__right
	width: 33.3%

.footer

	&__goTop
		position: relative
		padding-left: 1.5em
		color: white

		&::before 
			content: ''
			position: absolute
			left: 0
			top: 4px
			width: 1em
			height: 1em
			background-image: url('./img/icons/sprite.svg')
			background-size: 10em 1em
			background-position: -8em 0
			
	&__copyright
		text-align: center

	&__right
		text-align: right

	&__socicon
		width: 20px
		display: inline-block

	&__credits
		flex: none
		letter-spacing: 0.8px
		
		a
			color: #ABB0FF