$break-laptop: 1000px;
$break-desktop: 1640px;
$base-line-height: 1.5;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	line-height: $base-line-height;
	font-size: 16px;
	font-family: roboto, sans-serif;
	background-color: #EDEEF3;

	@media (min-width: $break-laptop) {
		font-size: 18px
	}
}

img {
	max-height: 100%;
	display: block;
}

/* Typography */

$highlight-color: #62A8B5;
$grey:	#757684;

h1 {
	font-size: 1.1em;
	text-align: center;
}
