$break-laptop: 1150px;
$break-desktop: 1600px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-height: 100%;
	display: block;
}

/* Typography */

$headline-color: rgb(255, 205, 13);
// $headline-color: #FFA700;

p {
	font-family: roboto;
}

