$break-laptop: 1150px;
$break-desktop: 1600px;

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

img {
	max-height: 100%;
	display: block;
}

/* Typography */

p {
	font-family: roboto;
}

.logo--fonts {
	
	h1 {
		display: none;
		color: white;
		font-family: tahoma;
		font-size: 28px;
		font-size: 4.4vw;
		font-style: oblique;
		text-shadow: 1px 1px 4px black;
	}
	
	p {
		width: 714px;
		color: white;
		font-family: roboto;
		font-size: 1em;
		font-size: 2.5vw;
		font-size: 4.5vw;
		letter-spacing: 1px;
		text-shadow: 1px 1px 2px black;
		font-weight: 600;
	}
	
	span {
		display: block;
		width: 463px;
		margin: 7px auto 0;
		border-top: solid 2px white;
		font-size: 30px;
		font-weight: 600;
		color: white;
	}
}

.nav--fonts {
	font-size: 17px;
	letter-spacing: 0.5px;
	font-family: roboto;
	text-transform: uppercase;
}

.heading--fonts {
	font-family: Open Sans, Arial, sans-serif;
	font-size: 2em;
	font-style: italic;
	color: #212121;
}