.gallery-header {
	position: relative;
	height: 400px;
	background-image: url(img/gallery-bg.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;

	.header__banner {
		background-color: rgba(0,0,0,0.3);
		position: fixed;
		top: 0; left: 0; right: 0;
	}
	
	.header__wrapper {
		max-width: 1000px;
		margin: 0 auto;
		height: 47px;
		padding: 30px 20px;
	}
	
	.heading__wrapper {
		position: absolute;
		left: 0; right: 0; bottom: 0;
		
		&--centered {
			width: 1000px;
			margin: 0 auto;
		}
	}
	
	.heading {
		display: inline-block;
		margin: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 15px 25px;
		background-color: white;
		font-size: 1.5em;
		font-family: Arial;
	}
}

.gallery-header .logo, .gallery-header .nav {
	position: static;
}

.gallery-header .logo {
	float: left;
	color: white;
}

.gallery-header .nav {
	float: right;
	line-height: 47px;
	
	a {
		color: white;
	}
}

.content {
	max-width: 1000px;
	margin: 0 auto;
	padding: 34px 20px;
	
}

#gallery-nav {
	margin-top: 40px;

	li {
		display: inline-block;
		text-decoration: none;
		color: dimgrey;
		margin-bottom: -1px;
		padding: 8px 15px;
		border: 1px solid rosybrown;
		font-size: 1.2em;
		cursor: pointer;
		transition: 0.4s;
	}
	
	li:hover {
		background-color: rosybrown;
		color: aliceblue;
		transition: 0.4s;
	}
	
	li.active {
		background-color: rosybrown;
		color: aliceblue;
	}
}

#tab-wrapper {
	background-color: rosybrown;
	padding: 20px;

	article {
		display: none;

		&.active {
			display: block;
		}
	}
}

.gallery {
	
	h2 {
		color: midnightblue;
	}
	
	p {
		max-width: 55em;
	}
	
	&__thumbnail {
		display: inline-block;
		width: 140px;
		height: 110px;
		background-color: grey;
		margin-right: 10px;
		margin-bottom: 10px;
		transition: 0.3s;
		
		&:hover {
			transition: 0.3s;
			filter: brightness(130%)
		}
	}
}