.logo, .nav {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
}

.logo {
	left: 0; 
	line-height: 1.1;
	color: #522611;
	
	h1 {
		margin: 0;
		font-family: tahoma;
		font-size: 28px;
		font-style: oblique;
	}
	
	p {
		margin: 0;
		font-family: verdana; 
	}
}

.nav {
	right: 0;
	
	ul {
		font-size: 14px;
		list-style-type: none;
		padding: 0;
		margin: 0;
		
		li {
			display: inline-block;
			margin-left: 22px;
			
			a {
				color: grey;
				text-decoration: none;
				text-transform: uppercase;
			}
		}
	}
}

/* Landing Page Specific */

.picture-grid {
	.logo {
		bottom: 103%;
		transform: translateY(0);
	}
	
	.nav {
		bottom: 105%;
		transform: translateY(0);
	}
}

.header {
	position: relative;
	height: 92vh;;
	background-size: cover;
	// background-position: center;
	background-attachment: fixed;
	
	&--gallery-bg {
		background-image: url(img/gallery-bg.jpg);
	}
	
	&--nabidka-bg {
		background-image: url(img/nabidka-bg-1600w-45q.jpg);
		transition: all 0.5s ease-in-out;
	}
	
	&--nabidka-bg {
		background-image: url(img/nabidka-bg.jpg);
		transition: all 0.5s ease-in-out;
	}
	
	&--predchoziprace-bg {
		background-image: url(img/predchoziprace-bg.jpg);
		transition: all 0.5s ease-in-out;
	}
	
	&--ofirme-bg {
		background-image: url(img/ofirme.jpg);
	}
	
	&--kontakt-bg {
		background-image: url(img/kontakt-bg.jpg);
	}
	
	&__banner {
		background-color: white;
		position: fixed;
		top: 0; left: 0; right: 0;
	}
	
	&__wrapper {
		position: relative;
		max-width: 1000px;
		margin: 0 auto;
		height: 16vh;
	}
}