/**/
/**/
/* ******** Landing Page ******** */
/**/
/**/
.landing-page
	min-height: 650px
	height: 100vh
	position: relative

.show-slides
	position: absolute
	left: 0
	bottom: -27px
	cursor: pointer
	
	&__icon
		display: inline-block
		width: 30px
		margin-bottom: -9px
		margin-right: 8px
		
	&__txt
		font-size: 15px
		color: #6B6B6B
		
	&:hover
		font-weight: bold
	
	&:active .show-slides__icon
		width: 28px

.slogan
	text-align: right
	height: 21px
	position: absolute
	bottom: -55px
	right: 0
	font-style: italic
	font-size: 18px
	color: #AF7848

.arrow-link
	position: absolute
	width: 70px
	height: 45px
	bottom: 20px
	left: 50%
	margin-left: -35px
	transition: 0.8s

.arrow-link:hover
	background-color: rgba(0,0,0,0.2)
	transition: 0.8s

.arrow
	margin: 0 auto
	width: 35px
	transform: rotate(180deg)

/* Below Landing Section */

.below-landing 
	min-height: 90vh
	// background-color: #efefee
	background-image: url(./img/below-landing_dark_30q.jpg)
	background-size: cover
	background-attachment: fixed
	position: relative

	&__content
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%,-50%)
		display: flex
		flex-wrap: wrap
		width: 1200px
		margin: 0 auto
		
.homepage-article
	flex-wrap: wrap
	width: 29%
	margin-right: 6.5%
	padding: 0 10px 8px
	// border: dashed 1px grey
	background-color: rgba(0,0,0,0.5)
	box-shadow: 1px 1px 2px 1px #151515
	border-radius: 1px
	
	&:nth-child(3)
		margin-right: 0

.article__wrap
	width: 100%

	h1
		margin: 0 auto
		width: 100%
		padding: 12px 0
		background-color: #102775
		font-size: 1em
		font-family: open sans
		color: #E2E2E2
		text-align: center
		
	p
		line-height: 1.4
		margin-top: 15px
		color: white

.article__img-wrap
	position: relative
	margin: 45px auto
	width: 180px
	height: 180px
	text-align: center
	border: dashed 2px white
	border-radius: 100%

	img
		position: absolute
		left: 50%
		top: 50%
		transform: translate(-50%, -50%)
		width: 80%
		height: 80%
		padding: 40px 0
		background-color: white
		border-radius: 100%