/* Layout for all pages except Landing */

// Header: height 74vh, position: relative

main {
	position: relative;
	margin: 0 auto;
	padding-bottom: 12px;
	background-color: white;
	width: 100%;
}

.content {
	max-width: 1200px;
	margin: 0 auto;
	position: relative;
	padding: 20px 100px 0;
}