/* Nabidka Page styles */
.heading2{
	font-size: 1em !important
}
.nabidka-nav {
	cursor: pointer;
}

.nabidka-nav { 
	.active {
		color: #212121;
	}
	.non-active {
		color: grey;
	}
}

.nabidka-tabs section { 
	display: none;

	&.active {
	display: block;
	}
}

.nabidka-tabs .content {
	
	article {
		
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	
	p {
		line-height: 1.4;
	}
	
	a {
		box-sizing: border-box;
		display: block;
		width: 560px;
		margin: 40px auto;
		padding: 15px 20px;
		text-decoration: none;
		color: white;
		background-color: brown;
		border-radius: 5px;
		font-size: 1em;
		letter-spacing: 1px;
		text-align: center;
		
	}
}

/* Predchozi prace */

.predchozi-prace {
	article {
		
		
		&:after {
			content: '';
			display: block;
			clear: both;
		}
	}
	
	img {
		float: right;
		width: 40%;
		margin-left: 15px;
	}
}
.nabidka-gallery {
	width: 50%;
	margin-left: 20px;
	float: right;
	cursor: pointer;
	
	img {
		box-sizing: border-box;
		float: left;
		width: 25%;
		border: 1px solid white;
		
		&:first-of-type {
			width: 100%;
		}
	}
}