extends partials/skeleton.jade

block body

	header.header.header--nabidka-bg
		.logo.logo--fonts
			h1 A.C.S. s.r.o.
			p Auto Caravan Sport
			.underline
				span.underline__txt s.r.o.

		// nav.nav.nav--fonts(role="navigation")
			ul
				li: a(href="index.html") Domů
				li: a(href="index.html#work") Má práce
				li: a(href="index.html#about") O firmě
				li: a(href="index.html#contact") Kontakt

	main.sub-page
		// nav.sub-page-nav
			a(href="index.html") <span>&#x2190;</span> Zpět na domovskou stránku
			a.sub-page-nav--float(href="ford-custom.html") Co nabízím <span>&#x2192;</span>
		header.heading__wrap
			h1.heading--fonts Ford Custom 2000
		article.ford-2000.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						.img__container: img(src="img/ford-2000/201.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/202.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/203.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/205.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/206.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/204.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/207.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/208.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/209.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/211.jpg" alt="")


			section.sub-page__txt.box-shadow
				p Další z nejrozšířenějších verzi a to pro krátké dodávky. Postel se rozklápí do zadní casti vozu, neni tedy potreba obou otocnych prednich sedadel. Tato postel umoznuje daleko vice ulozneho prostoru nez u predchoziho modelu. Skrinky tvori soustavnou stenu od sedadla ridice az po zadni zvedaci dvere. Zvedaci strecha ma sve vyhody a to ve svem hornim prostoru pro spani. Steny zvedacky jsou kolme, kdez to u pevne se  z uzuji. Vetraci okna jsou tu velika, ve vedrech je tu vyhoda ale v chladnejsich a ve vetru, je to jen stan. Velka vyhoda a to beze sporu je vyska vozu, jak odporu vetru na ceste, tak prujezdu 2m branou.

		nav.secondary-nav
			p Kam dále?<br>Podívejte se na mé ostatní práce:
			ul.work__ul

				include partials/sub-nav-custom.jade

				include partials/sub-nav-1996.jade
