extends partials/skeleton.jade

block title-n-meta
	title ACS s.r.o. | Obytná přestavba Ford Transit 2000
	meta(name="description" content="Ukázka kompletní obytné přestavby vozu Ford Transit model 2000 se zvedací střechou. Komponenty pro přestavbu byly dodány německou firmou REIMO.")

block body

	main.sub-page
		header.heading__wrap
			h1.heading--fonts Ford Transit 2000 (kratký rozvor) se zvedací střechou
		article.ford-2000.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						img.ford-2000__img(src="img/ford-2000/201.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/202.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/203.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/204.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/205.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/206.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/207.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/208.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/209.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")
					li
						img.ford-2000__img(src="img/ford-2000/211.jpg" alt="Obytná přestavba vozu Ford Transit model 2000")


			section.sub-page__txt.box-shadow
				p Jedna z nejrozšířenějších verzí pro krátké dodávky. 4 místa  na sezení s horním a dolním spaním. Spodní 2-místná lavice se rozkládá do zadní části vozu. Pod ložnou plochou je mnoho úložného prostoru. Kuchyňský blok se skříňkami tvoří soustavnou stěnu od sedadla řidiče až po zadní dveře. Zvedací střecha po zvednutí zvětší vnitřní prostor ve vozidle na stojnou výšku postavy. Ve střeše je zamontovaná  sklápěcí postel pro dvě osoby. Velká výhoda u tohoto vozu je jeho provozní výška do 210cm a to je znát jak na odporu větru na cestě, tak průjezdy do různých garáží. Ideální vůz pro rodinu s dětmi, pro letní provoz.

		header.heading__wrap
			h1.heading--fonts Ford Transit 2000 Jumbo (dlouhý rozvor)
		article.ford-2000.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)202.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)204.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)205.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)203.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)206.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)207.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)208.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")
					li
						img.ford-2000-jumbo__img(src="img/ford-2000/a)209.jpg" alt="Obytná vestavba vozu Ford Transit Jumbo model 2000")


			section.sub-page__txt.box-shadow
				p Další z nejrozšířenějších verzí uspořádání sedadel, pro střední a dlouhé dodávky. V tomto vozidle je velký nákladový prostor. Dvoumístná lavice druhé řady se rozklápí na přední otočná sedadla. Řidič využíval možnost odpočinku při práci. Ve vozidle jsou 4 místa k sezení a 2 místa ke spaní.

		nav.secondary-nav
			p Kam dále?<br>Podívejte se na mé ostatní práce:
			.sec-nav-list
				include partials/sub-nav-custom.jade
				include partials/sub-nav-1996.jade
