extends partials/skeleton.pug

block title-n-meta
	title ACS s.r.o. | Obytná vestavba do Fordu Transit Custom
	meta(name="description" content="Ukázka prodávaného modelu Ford Transit Custom. Obytná vestavba toho vozu umožňuje pohodlné bydlení na cestách pro dvě osoby. Možnost také namontování sedadel pro přepravu sedmi osob. Komponenty pro přestavbu byly dodány německou firmou REIMO.")

block body

	//.jumbotron.jumbotron--subpage-bg#header

	main.sub-page.ford-custom-page
		// nav.sub-page-nav
			a(href="index.html") <span>&#x2190;</span> Zpět na domovskou stránku
			a.sub-page-nav--float(href="predchozi-prace.html") Předchozí práce <span>&#x2192;</span>
		header.heading__wrap
			h1.heading--fonts Ford Transit Custom 2013<br>(střední rozvor)

		article.ford-custom.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						img.ford-custom__img(src="../img/ford-custom/101.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/102.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/103.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/104.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/105.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/106.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/107.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/108.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/109.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/110.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/111.jpg" alt="Obytná vestavba vozu Ford Transit Custom")

			section.sub-page__txt.box-shadow
				p Tento typ vestavby je použit v prodloužené verzi Fordu Transit CUSTOM. Mohlo tedy dojít k umístění kompletního toaletního koutu. Nejdůležitější část vozu je zatím před přestavbou a to je střecha. Počítám u tohoto typu vozu s vysokou plastovou střechou. Výrobci střech zatím dělají jen na krátké verze vozidel a pevně věřím, že k výrobě střechy na tento prodloužený typ přece jen dojde. Pro mne však tato verze je zatím přijatelná, protože jezdím už jenom s manželkou a hodně využívám střešních nosičů pro surfařské vybavení, jsem s touto verzi spokojen. Je to klasický kombi-van, se zaizolovanou karoserií a v ložném prostoru vybaven sociálním koutem. Počet sedících v tomto vozidle je 7 osob, po montáži postele se počet sníží na 3 osoby.
		
		article.specs
			h1 Nabízený vůz
			section.custom-specs.box-shadow
				h2.specs__h2 Specifikace od výrobce:
				img(src="../img/sub-pages/van.jpg", alt="Pohled oshora na rozložení sedadel ve vozu podle nastavení od výrobce")
				table
					tr
						td Objem motoru:
						td 2198 ccm
					tr
						td Výkon:
						td 92,00kW
					tr
						td Převodovka:
						td M6
					tr
						td Rozvor:
						td 3300
					tr
						td Pohon:
						td pohon předních kol
					tr
						td Délka/šířka/výška:
						td 5339/2032/1976 
					tr
						td Počet míst:
						td 2-7

				ul
					li Elektronický stabilizační systém ESP
					li Airbag řidiče a spolujezdce
					li Systém Stop-Start  vč.palubního počítače
					li Elektricky ovládaná přední okna 
					li Dálkově ovládané centrální zamykání
					li Ford Easy Fuel – bezzátkový systém doplňování paliva
					li Světla pro denní svícení
					li Zdvojený akumulátor             
					li Přídavné elektrické topení
					li Měření poklesu tlaku v pneumatikách
					li 15" ocelová kola s plnými kryty kol
					li Přední klimatizace vč. Pylového filtru
					li Autorádio AM/FM, vstup AUX, USB, Bluetooth
					li Tempomat včetně nastavitelného omezovače rychlosti
					li Kožený volant a hlavice řadící páky
					li Sada pro lepší viditelnost – vyhřívané čelní sklo, ukazatel hladiny kapaliny v ostřikovači, elektricky ovládaná a vyhřívaná zrcátka
					li Projektorové přední světlomety
					li Statická odbočovací světla
					li Přední mlhová světla
					li Výklopná okna v druhé řadě
					li Zásuvka 230V/150W
					li Tažné zařízení, 13-pólová zásuvka

			section.acs-specs.box-shadow
				h2.specs__h2 A.C.S. specifikace:
				br
				img(src="../img/sub-pages/009.jpg", alt="Varianty nabízeného vozu podle počtu sedících míst")
				br
				table
					tr
						td Rozměry vysunovací postele:
						td 1950 x 1250 mm 
					tr
						td úložný prostor pod postelí:
						td 850l
					tr
						td Posuvná kuchyňská skříň:
						td dvouplotýnkový vařič + dřez<br>Lednička 50l<br>skříňka na nádobí 35l<br>výsuvný pomocný stůl
					tr
						td Toaletní sprchový kout s wc
						td Kazetové wc<br>teplá a studená voda(ohřívač vody na 220V<br>na přání)<br>Sprcha vnitřní a venkovní<br>Skříňky úlož.prostor 60l+80l+60l
					tr
						td plyn:
						td 2 X 2,8 kg plynové láhve (pouze vaření)
					tr
						td nádrž na čistou vodu:
						td 50l
					tr
						td nádrž na odpadní vodu:
						td 75l
				figure
					img(src="../img/sub-pages/007.jpg", alt="Vybavení, které není součástí prodaváného vozu")
					figcaption Toto vybavení není součástí prodávaného vozu
			
			section.cenik.box-shadow
				img.rozdeleni-sekci(src="../img/sub-pages/010.jpg", alt="ilustrace pro rozdělení sekcí podle ceníku, část A až C")
				h2 Ceník
				table
					tr
						td A. Vysunovací postel výklopná
						td 24 400,00 Kč
					tr
						td B. Kuchyňský posuvný blok
						td 47 200,00 Kč
					tr
						td C. Vestavěný toaletní kout
						td 51 700,00 Kč
					tr
						td D. Rolovací markýza 3m
						td 12 000,00 Kč
					tr
						td E. Samostatný  stan s napojením na vůz
						td 15 500,00 Kč
					tr
						td F. Izolace a vnitřní dekorace
						td 40 300,00 Kč
					tr
						td Cena nabízeného vozu
						td 819 500,00 Kč
				br
				img(src="../img/sub-pages/008.jpg", alt="ilustrace pro rozdělení sekcí podle ceníku, část D a E") 
		
		nav.secondary-nav
			p Kam dále?<br>Podívejte se na kompletní foto-dokumentaci jednodlivých částí tohoto vozu:
			.galerie-link-container
				include partials/sub-nav-galerie.pug

			p Μé předchozí práce:
			.sec-nav-list
				include partials/sub-nav-2000.pug

				include partials/sub-nav-1996.pug
