extends partials/layout.jade

block header-wrapper

block content
	// Landing Page
	section.landing-page
		.picture-grid

			include partials/header.jade

			.grid__container
				.grid__cell.grid__cell--hover.grid__cell--top-start
					.slide-in
						p.slide-in__text.slide-in__text--aligncenter <strong>Vítejte</strong></br>na stránkách firmy</br>A.C.S.

				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Využití
						p.slide-in__text Auta jsou ideální pro dálniční cestování, polykání kilometrů,  neustálé přesuny. Poskytují určitý komfort potřeb k pobytu, jak na městských parkovištích, kempech, tak i ve volné přírodě. Malá velikost vozidla usnadňuje nalodit vozidlo na trajekt a hlavně, za rozumnou cenu.

				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Dostupnost
						p.slide-in__text S vozem se dostanete i na těžko přístupná místa jako centra velkoměst, parkoviště v historických částech nebo podobné spleti úzkých uliček. Přece jenom je dodávka méně nápadná než velký obytný vůz.
						
				.grid__cell.grid__cell--hover.grid__cell--top-end
					.slide-in
						h1.slide-in__title Kvalita
						p.slide-in__text U všech přestaveb jsou použity certifikované komponenty od firmy REIMO a splňují bezpečnostní a technické parametry.
				
				.grid__cell.grid__cell--hover.grid__cell--bottom-start
					.slide-in
						h1.slide-in__title Skladnost
						p.slide-in__text Malá velikost vozidla usnadnuje nalodit vozidlo na trajekt a setri penize na dalnicncich poplatcich.
					
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Komfort
						p.slide-in__text Ať už cestujete kamkoliv, vozíte si sebou pohodlí domova. V autě můžete spát, vařit, sprchovat se a samozřejmostí je vestavěný chemický záchod a možnost připojit se na elektřinu.
	
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Jednoduché cestování
						p.slide-in__text Vozy A.C.S. umožňují cestování s důrazem na minimálnost a funkčnost. Je to kompromis mezi hotelovým pokojem v turistickém středisku a stanováním ve volné přírodě.
	
				.grid__cell.grid__cell--hover.grid__cell--bottom-end
					.slide-in
					
				.show-slides 
					img.show-slides__icon(src="img/eye.svg")
					span.show-slides__txt Ukaž vše
			
			p.slogan Vítejte v mém světě dodávkové velikosti</br>...ani malé ani velké.
			
		// picture grid end
		
		a.arrow-link(href="#home-page")
			img.arrow(src="img/ctrl.svg", alt="")
	
	// landing container end
	
	// Second Page
	section.below-landing#home-page
		.below-landing__content
			article.homepage-article
				.article__wrap
					h1 O firmě

					.article__img-wrap
						img.index-icon(src="./img/home.svg")
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nulla officia et accusantium perspiciatis ratione quis, obcaecati, mollitia in laboriosam tenetur odit sint unde quia inventore velit necessitatibus rerum, distinctio.
			
				
			article.homepage-article
				.article__wrap
					h1 Co nabízím
					
					.article__img-wrap
						img.index-icon(src="./img/truck.svg")
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis asperiores, labore quo tempora placeat dolorem libero id alias accusamus odio aut excepturi, similique fugit. Perspiciatis accusamus nostrum a! Velit, quibusdam.
			
				
			article.homepage-article
				.article__wrap
					h1 Zkontaktujte mně
					
					.article__img-wrap
						img.index-icon(src="./img/envelope.svg")
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestias, dolores eaque ullam perferendis consequatur? Totam deserunt itaque culpa laudantium, cumque, dolor tempore optio harum placeat similique temporibus molestiae fugiat!
			