extends partials/layout.jade

block header-wrapper

block content

	section.jumbotron
	.index-header
		.hero__header
			.logo.logo--fonts
				h1 A.C.S. s.r.o.
				p Auto Caravan Sport

		.header__wrapper
			nav.nav.nav--fonts(role="navigation")
				ul
					li: a(href="index.html") Domů
					li: a(href="nabidka.html") Nabídka
					li: a(href="ofirme.html") O firmě
					li: a(href="kontakt.html") Kontakt
	
	section.slogan
		p.slogan__txt Vítejte v mém světě dodávkové velikosti</br>...ani malé ani velké.
	
	section.below-landing#home-page
		.below-landing__content
			article.homepage-article
				.article__wrap
					.article__img-wrap
						img.index-icon(src="./img/home.svg")
						h1 O firmě
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt nulla officia et accusantium perspiciatis ratione quis, obcaecati, mollitia in laboriosam tenetur odit sint unde quia inventore velit necessitatibus rerum, distinctio.
			
				
			article.homepage-article
				.article__wrap
					.article__img-wrap
						img.index-icon(src="./img/van.svg")
						h1 Co nabízím
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis asperiores, labore quo tempora placeat dolorem libero id alias accusamus odio aut excepturi, similique fugit. Perspiciatis accusamus nostrum a! Velit, quibusdam.
			
				
			article.homepage-article
				.article__wrap
					.article__img-wrap
						img.index-icon(src="./img/envelope.svg")
						h1 Zkontaktujte mně
					
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestias, dolores eaque ullam perferendis consequatur? Totam deserunt itaque culpa laudantium, cumque, dolor tempore optio harum placeat similique temporibus molestiae fugiat!
	// Landing Page
	section.landing-page
		.picture-grid
			.grid__container
				.grid__cell.grid__cell--hover.grid__cell--top-start
					.slide-in
						p.slide-in__text.slide-in__text--aligncenter <strong>Vítejte</strong></br>na stránkách firmy</br>A.C.S.

				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Využití
						p.slide-in__text Auta jsou ideální pro dálniční cestování, polykání kilometrů,  neustálé přesuny. Poskytují určitý komfort potřeb k pobytu, jak na městských parkovištích, kempech, tak i ve volné přírodě. Malá velikost vozidla usnadňuje nalodit vozidlo na trajekt a hlavně, za rozumnou cenu.

				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Dostupnost
						p.slide-in__text S vozem se dostanete i na těžko přístupná místa jako centra velkoměst, parkoviště v historických částech nebo podobné spleti úzkých uliček. Přece jenom je dodávka méně nápadná než velký obytný vůz.
						
				.grid__cell.grid__cell--hover.grid__cell--top-end
					.slide-in
						h1.slide-in__title Kvalita
						p.slide-in__text U všech přestaveb jsou použity certifikované komponenty od firmy REIMO a splňují bezpečnostní a technické parametry.
				
				.grid__cell.grid__cell--hover.grid__cell--bottom-start
					.slide-in
						h1.slide-in__title Skladnost
						p.slide-in__text Malá velikost vozidla usnadnuje nalodit vozidlo na trajekt a setri penize na dalnicncich poplatcich.
					
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Komfort
						p.slide-in__text Ať už cestujete kamkoliv, vozíte si sebou pohodlí domova. V autě můžete spát, vařit, sprchovat se a samozřejmostí je vestavěný chemický záchod a možnost připojit se na elektřinu.
	
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Jednoduché cestování
						p.slide-in__text Vozy A.C.S. umožňují cestování s důrazem na minimálnost a funkčnost. Je to kompromis mezi hotelovým pokojem v turistickém středisku a stanováním ve volné přírodě.
	
				.grid__cell.grid__cell--hover.grid__cell--bottom-end
					.slide-in
					
				.show-slides 
					img.show-slides__icon(src="img/eye.svg")
					span.show-slides__txt Ukaž vše
		// picture grid end
		
		a.arrow-link(href="#home-page")
			img.arrow(src="img/ctrl.svg", alt="")
	
	// landing container end
			
block local-scripts
	script.
		window.addEventListener('scroll', showArticles)