extends partials/skeleton.jade

block body

	header.header.header--index-bg#header
		.logo.logo--fonts
			h1 A.C.S. s.r.o.
			p Auto Caravan Sport
			.underline
				span.underline__txt s.r.o.

		// nav.nav.nav--fonts(role="navigation")
			ul
				li: a(href="index.html") Domů
				li: a(href="#product") Nabídka
				li: a(href="#about") O firmě
				li: a(href="#contact") Kontakt

	section.sub-header
		p.slogan__txt Vítejte v mém světě dodávkové velikosti</br>...ani malé ani velké.
		nav.sub-header__content(role="navigation")
			a.sub-header__nav(href="#picture-grid")
				.article__wrap
					h1 Co je Karavaning

			a.sub-header__nav(href="#product")
				.article__wrap
					h1 Co nabízím	
					
			a.sub-header__nav(href="#prev-work")
				.article__wrap
					h1 Předchozí práce

			a.sub-header__nav(href="#about")
				.article__wrap
					h1 O firmě

			a.sub-header__nav(href="#contact")
				.article__wrap
					h1 Kontakt
					
		a.arrow-link(href="#picture-grid")
			img.arrow(src="img/ctrl.svg", alt="")

	//
	// Jumbotron
	//
	article.jumbotron
		.jumbotron__txt
			h3 Ford Custom A.C.S.
			p  Lorem ipsum dolor sit amet. Consectetur adipisicing elit. Adipisci minus autem distinctio voluptatem.
	
	//
	// Picture Grid
	//
	article.picture-grid#picture-grid
		h2 Proč karavaning v malé dodávce
		.picture-grid__wrap
			.grid__container
				.grid__cell.grid__cell--hover.grid__cell--top-start
					.slide-in
						p.slide-in__text.slide-in__text--aligncenter <strong>Vítejte</strong></br>na stránkách firmy</br>A.C.S.
						
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Využití
						p.slide-in__text Auta jsou ideální pro dálniční cestování, polykání kilometrů,  neustálé přesuny. Poskytují určitý komfort potřeb k pobytu, jak na městských parkovištích, kempech, tak i ve volné přírodě. Malá velikost vozidla usnadňuje nalodit vozidlo na trajekt a hlavně, za rozumnou cenu.

				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Dostupnost
						p.slide-in__text S vozem se dostanete i na těžko přístupná místa jako centra velkoměst, parkoviště v historických částech nebo podobné spleti úzkých uliček. Přece jenom je dodávka méně nápadná než velký obytný vůz.
						
				.grid__cell.grid__cell--hover.grid__cell--top-end
					.slide-in
						h1.slide-in__title Kvalita
						p.slide-in__text U všech přestaveb jsou použity certifikované komponenty od firmy REIMO a splňují bezpečnostní a technické parametry.
				
				.grid__cell.grid__cell--hover.grid__cell--bottom-start
					.slide-in
						h1.slide-in__title Skladnost
						p.slide-in__text Malá velikost vozidla usnadnuje nalodit vozidlo na trajekt a setri penize na dalnicncich poplatcich.
					
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Komfort
						p.slide-in__text Ať už cestujete kamkoliv, vozíte si sebou pohodlí domova. V autě můžete spát, vařit, sprchovat se a samozřejmostí je vestavěný chemický záchod a možnost připojit se na elektřinu.
	
				.grid__cell.grid__cell--hover.grid__cell--middle
					.slide-in
						h1.slide-in__title Jednoduché cestování
						p.slide-in__text Vozy A.C.S. umožňují cestování s důrazem na minimálnost a funkčnost. Je to kompromis mezi hotelovým pokojem v turistickém středisku a stanováním ve volné přírodě.
	
				.grid__cell.grid__cell--hover.grid__cell--bottom-end
					.slide-in
					
				.show-slides 
					img.show-slides__icon(src="img/eye.svg")
					span.show-slides__txt Ukaž vše
	
	//
	// Product
	//
	article.product.sekce-nabidka.height#product
		h1.product__heading Co nabízím
		.flex
			section.podsekce.podsekce-img
				.rslides-container
						ul.rslides
							li: img(src="img/soucasna-nabidka/050.jpg" alt="")
							li: img(src="img/soucasna-nabidka/001.jpg" alt="")
							li: img(src="img/soucasna-nabidka/049.jpg" alt="")
							li: img(src="img/soucasna-nabidka/003.jpg" alt="")
							li: img(src="img/soucasna-nabidka/005.jpg" alt="")
			section.podsekce.podsekce-txt
				h1 Ford Custom A.C.S.
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium placeat obcaecati natus provident laboriosam, atque, facere exercitationem fugit fugiat architecto aliquid deserunt veritatis doloremque. Nihil molestiae, aperiam necessitatibus a.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil et quidem quia fugiat dolores saepe, repellat magni. Commodi, facilis minima excepturi magni accusantium, amet. Magni at quae eius numquam suscipit.
				p Podívejte se podrobný popis a foto-dokumentaci:
				a.podsekce__link(href="./nabidka.html") Zjistěte více

	article.prev-work.sekce-prev-work.height#prev-work
		h1.prev-work__headline Předchozí práce
		.flex
			section.podsekce.podsekce-txt
				h1 Variace Fordu Transit s krátkým rozvorem
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus praesentium placeat obcaecati natus provident laboriosam, atque, facere exercitationem fugit fugiat architecto aliquid deserunt veritatis doloremque. Nihil molestiae, aperiam necessitatibus a.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil et quidem quia fugiat dolores saepe, repellat magni. Commodi, facilis minima excepturi magni accusantium, amet. Magni at quae eius numquam suscipit.
				p Podívejte se na ukázky mé předchozí práce:
				a.podsekce__link(href="./nabidka.html") Zjistěte více
			section.podsekce.podsekce-img.podsekce-predchoziprace
				.inner
					img(src="./img/predchozi-prace/index.jpg", alt="")
					img(src="./img/predchozi-prace/102.jpg", alt="")
					img(src="./img/predchozi-prace/202.jpg", alt="")

	//
	// About
	//
	article.about#about
		section.about-txt
			.about-txt__wrap
				h2  O firmě
				p Myšlenka začala v roce 1996 po zakoupení staršího vozu Ford Transit a jeho postupné přestavbě. Nadšení pro volnost prožití svého volného času se stávala silnější a po zamilování se do windsurfingu a později do kitingu, bylo rozhodnuto. Přece jenom byt odkázán na nabídky cestovek, které se nepochlubí negativní stránkou své nabízené lokality, nebo příjezdy do neznámých oblastí. No prostě auto je pro mne něco víc než jen převoz z místa do místa. Proto jsem začal uvazovat o typu a velikosti co by mne uspokojilo. V teto věci bych karavaning  přirovnal k hudbě. Hudba poskytuje radost obrovské spoustě posluchačů a každý si najde tu svou. Tak karavaning má široký rozsah zájmů a je třeba si vybrat ten svůj. Já jsem si vybral a ten Vám chci předvést.
	
	//
	// Contact
	//
	article.contact#contact
		.contact-form
			h2 Pojd´me spolupracovat
			.form__name
				p Jméno
			.form__email
				p Email
			.form__zprava
				p Napište mi co Vás zaujalo...
			.form__sent 
				a(href="#") Poslat

block local-scripts
	// script.
		// window.addEventListener('scroll', showArticles)