extends partials/layout.jade

block header-wrapper
	header.header.header--kontakt-bg
		div.header__banner
			div.header__wrapper

				include partials/header.jade

block content
	main
		.content
			.heading__wrap
				h1.heading.heading--fonts Napište mi
			
			.kontakt-form
				h2 Kontaktní formulář