extends partials/skeleton.jade

block body

	header.header.header--nabidka-bg
		.logo.logo--fonts
			h1 A.C.S. s.r.o.
			p Auto Caravan Sport
			.underline
				span.underline__txt s.r.o.

		// nav.nav.nav--fonts(role="navigation")
			ul
				li: a(href="index.html") Domů
				li: a(href="nabidka.html") Nabídka
				li: a(href="index.html#about") O firmě
				li: a(href="index.html#contact") Kontakt

	main.nabidka-tabs
		
		section
			nav.sub-page-nav
				a(href="index.html") <span>&#x2190;</span> Zpět na domovskou stránku
				a.sub-page-nav--float(href="predchozi-prace.html") Předchozí práce <span>&#x2192;</span>
			.heading__wrap
				h1.heading--fonts Současně k prodeji
			.content
				article.for-offer
					.rslides-container
						ul.rslides
							li: img(src="img/soucasna-nabidka/001.jpg" alt="")
							li: img(src="img/soucasna-nabidka/049.jpg" alt="")
							li: img(src="img/soucasna-nabidka/050.jpg" alt="")
							li: img(src="img/soucasna-nabidka/003.jpg" alt="")
							li: img(src="img/soucasna-nabidka/005.jpg" alt="")
					h1 Ford Custom A.C.S
					p Tento typ vestavby je použit v prodloužené verzi Fordu Transit CUSTOM. Mohlo tedy dojít k umístění kompletního toaletního koutu. Nejdůležitější část vozu je zatím před přestavbou a to je střecha. Počítáme u tohoto typu vozu s vysokou plastovou střechou. Výrobci střech zatím dělají jen na krátké verze vozidel a pevně věříme, že k výrobě střechy na tento prodloužený typ přece jen dojde. Pro mne však tato verze je zatím přijatelná, protože jezdím už jenom s manželkou a hodně využívám střešních nosičů pro surfařské vybavení, jsem s touto verzi spokojen. Je to klasicky kombi-van, se zaizolovanou karoserii a v ložném prostoru vybaven sociálním koutem. Počet sedících v tomto vozidle je 7+1, po montáži postele se počet sníží na 2+1.
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas a qui, sapiente quod, nemo at accusamus blanditiis ex beatae, corrupti veritatis minima ipsum expedita. Perspiciatis praesentium ea impedit asperiores cum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus corporis sed laborum iste veniam, sit quasi deleniti, voluptas adipisci a, simil
				a.gallery-link(href="gallery.html") Kompletní dokumentace Ford Custom A.C.S.

block footer
	footer.footer
		p.footer__copyright.footer--middle Auto Caravan Sport s.r.o. 2016
		nav.footer__nav.footer--left
			ul
				li: a(href="index.html") Domů
				li: a(href="nabidka.html") Nabídka
				li: a(href="index.html#about") O firmě
				li: a(href="index.html#contact") Kontakt
		.footer--right
			img.home-socicon.footer__socicon(src="./img/email-icon.svg")
			img.home-socicon.footer__socicon(src="./img/fb-icon.svg")
		p.footer__credits Web: 
			a(href="https://www.linkedin.com/in/radek-palisa-96332886", target="_blank") Radek Palisa