extends partials/layout.jade

block header-wrapper
	header.header.header--ofirme-bg
		div.header__banner
			div.header__wrapper

				include partials/header.jade

block content
	main
		.heading__wrap
				h1.heading.heading--fonts O firmě Auto Caravan Sport s.r.o.
		.content
			section
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!