extends partials/layout.jade

block content
	main
		.content
			.heading__wrapper
				h1.heading.active O firmě Auto Caravan Sport s.r.o.
			
			section
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!
				p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde, veniam? Quidem adipisci veniam minima sapiente tenetur id dolorum, nisi illo, possimus veritatis illum optio eius mollitia eaque totam cumque. Impedit! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex doloremque, accusamus soluta molestias, labore repudiandae perferendis excepturi inventore esse molestiae aliquid, distinctio qui, iusto atque quae optio officiis aliquam ad!