extends partials/skeleton.jade

block body

	header.header.header--index-bg
		.logo.logo--fonts
			h1 A.C.S. s.r.o.
			p Auto Caravan Sport
			.underline
				span.underline__txt s.r.o.

		// nav.nav.nav--fonts(role="navigation")
			ul
				li: a(href="index.html") Domů
				li: a(href="ford-custom.html") Nabídka
				li: a(href="index.html#about") O firmě
				li: a(href="index.html#contact") Kontakt

	main.sub-page
		// nav.sub-page-nav
			a(href="index.html") <span>&#x2190;</span> Zpět na domovskou stránku
			a.sub-page-nav--float(href="ford-custom.html") Co nabízím <span>&#x2192;</span>
		header.heading__wrap
			h1.heading--fonts Ford Custom 2000
		article.ford-2000.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						.img__container: img(src="img/ford-2000/102.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/103.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/104.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/105.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/106.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/107.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/108.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/109.jpg" alt="")
					li
						.img__container: img(src="img/ford-2000/110.jpg" alt="")

			section.sub-page__txt.box-shadow
				p Další z nejrozšířenějších verzi a to pro krátké dodávky. Postel se rozklápí do zadní casti vozu, neni tedy potreba obou otocnych prednich sedadel. Tato postel umoznuje daleko vice ulozneho prostoru nez u predchoziho modelu. Skrinky tvori soustavnou stenu od sedadla ridice az po zadni zvedaci dvere. Zvedaci strecha ma sve vyhody a to ve svem hornim prostoru pro spani. Steny zvedacky jsou kolme, kdez to u pevne se  z uzuji. Vetraci okna jsou tu velika, ve vedrech je tu vyhoda ale v chladnejsich a ve vetru, je to jen stan. Velka vyhoda a to beze sporu je vyska vozu, jak odporu vetru na ceste, tak prujezdu 2m branou.
				//h1 Ford Transit (krátký rozvor) s vysokou střechou
				// p Jedna z nejrozšířenějších verzí spis pro střední a dlouhé dodávky. Většinou dále v zadní části byl ještě prostor pro koupelnový kout a připadnou garáž. Postel se rozklápí a opírá na přední otočná sedadla. Udělal jsem tuto verzi do krátkého rozvoru, třeba kvůli tomu, že manželka mohla v  zadní části vařit nebo já se převlékat do neoprenu a děti si tak mohly nerušeně hrát ve předu u stolu. Vzadu byl i mobilní záchod, což melo také své diskrétnější výhody. Plastová vysoká střecha měla tu výhodu, že byla ve vozidle permanentní stojná výška.  Na údržbu je proti zvedací střeše jednodušší ale vozidlo bylo o 80 centimetru vyšší a to zas melo své nevýhody.

		nav.secondary-nav
			p Kam dále?<br>Podívejte se na kompletní foto-dokumentaci jednodlivých částí tohoto vozu anebo se podívejte na mé předchozí práce:
			.work__content
				article.prev-work.sekce-prev-work.my-work__item
					a(href="./ford-custom.html")
						section.podsekce-img.podsekce-predchoziprace.foto-2
							.podsekce__link
								svg.podsekce__svg(viewbox="0 0 100 100")
									path(d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z")
								p Ford Transit Custom

				article.current-work.my-work__item
					a(href="./gallery.html")
						section.podsekce-img.podsekce-predchoziprace.foto-1
							.podsekce__link
								svg.podsekce__svg(viewbox="0 0 100 100")
									path(d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z")
								p Foto-dokumentace Ford Custom

				article.prev-work.sekce-prev-work.my-work__item
					a(href="./predchozi-prace.html")
						section.podsekce-img.podsekce-predchoziprace.foto-3
							.podsekce__link
								svg.podsekce__svg(viewbox="0 0 100 100")
									path(d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z")
								p Ford Transit 1996

block footer
	footer.footer
		p.footer__copyright.footer--middle Auto Caravan Sport s.r.o. 2016
		nav.footer__nav.footer--left
			ul
				li: a(href="index.html") Domů
				li: a(href="nabidka.html") Nabídka
				li: a(href="index.html#about") O firmě
				li: a(href="index.html#contact") Kontakt
		.footer--right
			img.home-socicon.footer__socicon(src="./img/email-icon.svg")
			img.home-socicon.footer__socicon(src="./img/fb-icon.svg")
		p.footer__credits Web: 
			a(href="https://www.linkedin.com/in/radek-palisa-96332886", target="_blank") Radek Palisa