/* Header partial */

.logo, .nav {
	position: absolute;
	bottom: 50%;
	transform: translateY(50%);
}

.logo {
	left: 0; 
	line-height: 1.1;
	color: #192D77;
	
	h1, p {
		margin: 0;
	}
}

.nav {
	right: 0;
	
	ul {
		padding: 0;
		margin: 0;
		
		li {
			display: inline-block;
			margin-left: 22px;
			
			a {
				color: white;
				text-decoration: none;
			}
		}
	}
}

/* Header - Landing Page Specific */

.picture-grid {
	.logo {
		bottom: 103%;
		transform: translateY(0);
	}
	
	.nav {
		bottom: 105%;
		transform: translateY(0);
	}
}

/* Header - Hero section */

.header {
	background-size: cover;
	// background-position: center;
	background-attachment: fixed;
	
	&--gallery-bg {
		background-image: linear-gradient(172deg, #151515, rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5)), url(img/gallery-bg_3872w_35q.jpg);
	}
	
	&--nabidka-bg {
		background-image: linear-gradient(172deg, #151515, rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5)), url(img/nabidka-bg-1600w-45q.jpg);
		transition: all 0.5s ease-in-out;
	}
	
	&--predchoziprace-bg {
		background-image: linear-gradient(172deg, #151515, rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5)), url(img/predchoziprace-bg_3872w_10q.jpg);
		transition: all 0.5s ease-in-out;
	}
	
	&--ofirme-bg {
		background-image: linear-gradient(172deg, #151515, rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5)), url(img/ofirme.jpg);
	}
	
	&--kontakt-bg {
		background-image: linear-gradient(172deg, #151515, rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5)), url(img/kontakt-bg_3872w_10q.jpg);
	}
}