/* Header partial */

.header {
	position: relative;
	height: 500px;
	height: 60vh;

	background-size: cover;
	
	$linear-gradient: linear-gradient(-7deg, rgba(0, 0, 0, 0.55), transparent, rgba(0, 0, 0, 0.68));
	$linear-gradient: linear-gradient(172deg, rgba(0, 0, 0, 0.65), transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5));
	$linear-gradient: linear-gradient(172deg,rgb(21, 21, 21), rgba(0, 0, 0, 0.65) 5%, transparent 30%, transparent 65%, rgba(0, 0, 0, 0.5));
	$linear-gradient:linear-gradient(184deg, rgba(120, 120, 121, 0.69), transparent 40%);
	$linear-gradient: linear-gradient(184deg, rgba(120, 120, 121, 0.62), transparent 25%);
	$linear-gradient: linear-gradient(transparent, rgba(0,0,0,0.2), transparent);

	&--index-bg {
		background-image: url(./img/below-landing.jpg);
		background-position: center 29%;
	}
	&--gallery-bg {
		background-image: $linear-gradient, url(img/gallery-bg_3872w_35q.jpg);
	}
	
	&--nabidka-bg {
		background-image: $linear-gradient, url(img/nabidka-bg-1600w-45q.jpg);
		background-position: center 24%;
		transition: all 0.5s ease-in-out;
	}
	
	&--predchoziprace-bg {
		background-image: $linear-gradient, url(img/kontakt-bg_3872w_10q.jpg);
		background-position: center 24%;
		transition: all 0.5s ease-in-out;
	}
	
	&--ofirme-bg {
		background-image: $linear-gradient, url(img/ofirme.jpg);
		background-position: center;
	}
	
	&--kontakt-bg {
		background-image: $linear-gradient, url(img/predchoziprace-bg_3872w_10q.jpg);
		background-position: center 66%;
	}
}

.logo {
	position: absolute;
	left: 50%;
	top: 67%;
	top: 50%;
	transform: translate(-50%,-50%);
	line-height: 1.1;
	text-align: center;
	white-space: nowrap;
	
	h1, p {
		margin: 0;
	}
}

.nav {
	text-align: right;
	padding-top: 30px;
	margin-right: 30px;
	
	ul {
		padding: 0;
		margin: 0;
		
		li {
			display: inline-block;
			margin-left: 25px;
			padding-bottom: 2px;
			
			a {
				color: #E2E2E2;
				color: #644D19;
				font-weight: bold;
				font-size: 14px;
				letter-spacing: 1px;
			}
		}
	}
}

//
// Nav underlines indicating current page
//

.header--index-bg li:nth-child(1),
.header--nabidka-bg li:nth-child(2),
.header--ofirme-bg li:nth-child(3),
.header--kontakt-bg li:nth-child(4) {
	border-bottom: solid 2px #644D19;
}

