extends partials/skeleton.pug

block title-n-meta
	title ACS s.r.o. | Obytná vestavba do Fordu Transit Custom
	meta(name="description" content="Ukázka prodávaného modelu Ford Transit Custom. Obytná vestavba toho vozu umožňuje pohodlné bydlení na cestách pro dvě osoby. Možnost také namontování sedadel pro přepravu sedmi osob. Komponenty pro přestavbu byly dodány německou firmou REIMO.")

block body

	//.jumbotron.jumbotron--subpage-bg#header

	main.sub-page.ford-custom-page
		// nav.sub-page-nav
			a(href="index.html") <span>&#x2190;</span> Zpět na domovskou stránku
			a.sub-page-nav--float(href="predchozi-prace.html") Předchozí práce <span>&#x2192;</span>
		header.heading__wrap
			h1.heading--fonts Ford Transit Custom 2013<br>(střední rozvor)

		article.ford-custom.sub-page__flipster
			.my-flipster.flipster--margin
				ul
					li
						img.ford-custom__img(src="../img/ford-custom/101.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/102.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/103.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/104.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/105.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/106.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/107.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/108.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/109.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/110.jpg" alt="Obytná vestavba vozu Ford Transit Custom")
					li
						img.ford-custom__img(src="../img/ford-custom/111.jpg" alt="Obytná vestavba vozu Ford Transit Custom")

			section.sub-page__txt.box-shadow
				p Tento typ vestavby je použit v prodloužené verzi Fordu Transit CUSTOM. Mohlo tedy dojít k umístění kompletního toaletního koutu. Nejdůležitější část vozu je zatím před přestavbou a to je střecha. Počítám u tohoto typu vozu s vysokou plastovou střechou. Výrobci střech zatím dělají jen na krátké verze vozidel a pevně věřím, že k výrobě střechy na tento prodloužený typ přece jen dojde. Pro mne však tato verze je zatím přijatelná, protože jezdím už jenom s manželkou a hodně využívám střešních nosičů pro surfařské vybavení, jsem s touto verzi spokojen. Je to klasický kombi-van, se zaizolovanou karoserií a v ložném prostoru vybaven sociálním koutem. Počet sedících v tomto vozidle je 7 osob, po montáži postele se počet sníží na 3 osoby.

		header.heading__wrap
			h2.heading--fonts Ford Transit Custom<br>(se zvýšenou střechou)

		article.ford-custom.sub-page__flipster
			.my-flipster-2.flipster--margin
				ul
					- var x = 0;
					while x < 14
						li
							img.ford-custom__img(src=`../img/ford-custom-lwb/4${x}.jpg`, alt=`Obytná vestavba vozu Ford Transit Custom se zvýšenou střechou #${x}`)
						- x++

			section.sub-page__txt.box-shadow
				p Stejné rozložení vnitřního vybavení, jak u předchozího vozu. Zvýšená střecha, umožňuje narovnání se a to je pro pohyb přece jen o dost pohodlnější.
		
		nav.secondary-nav.secondary-nav--padd-top
			p Kam dále?<br>Podívejte se na foto-dokumentaci prací u tohoto vozu:
			.galerie-link-container
				include partials/sub-nav-galerie.pug

			p Μé předchozí práce:
			.sec-nav-list
				include partials/sub-nav-2000.pug

				include partials/sub-nav-1996.pug

block local-scripts
	script(src="../js/flipster.js")
	script.
		$(function() {
			$('.my-flipster').flipster({
				style: 'flat',
				buttons: true,
				spacing: -0.39,
				scrollwheel: false,
				loop: true,
				start: 3
			});
			const f = $('.my-flipster-2').flipster({
				style: 'flat',
				buttons: true,
				spacing: -0.39,
				scrollwheel: false,
				loop: true,
				start: 1
			});
		});
