extends partials/skeleton.pug

block title-n-meta
	title ACS s.r.o. | Obytné vestavby do aut
	meta(name="description" content="Zabývám se přestavbami a vestavbami aut dodákové velikosti, nejlépe kombi-vanů, na obytné vozy pro trávení volného času.")

block navigation
	header.site-header.site-header--fixed
		a.logo(href="/") Auto Caravan Sport #[span s.r.o.]
		ul.nav__ul(role="navigation")
			li: a(href="#presentation") O co jde
			li: a(href="#work") Má práce
			li: a(href="#about") Jak to začalo
			li: a(href="#contact") Kontakt
		.menu-icon
			button

block body

	.jumbotron.jumbotron--index-bg#header

	p.slogan Vítejte v mém světě dodávkové velikosti</br>...ani malé ani velké.
	section.site-intro#presentation
		h1.site-intro__title Vítejte na stránkách firmy <strong>Auto Caravan Sport s.r.o.</strong>
		img.site-intro__img(src="../img/index/profile.jpg", alt="zakladatel a jednatel firmy")
		p.site-intro__txt Jmenuji se Libor Palisa a mojí dlouholetou vášní je hledat možnosti, jakými způsoby přestavět dodávkový vůz, nejlépe kombi-van, na obytný vůz pro trávení volného času.

	.presentation-outer
		section.presentation
			.upperPane
				h2.presentation__title Vůz pro volný čas
				p.upperPane__presIntro__p Snažím se klást důraz na dokonalé využití vnitřního prostoru pro maximální pohodlí. Chci aby vůz poskytoval základní potřeby pro pobyt v přírodě, městě, tak i třeba na dálničním parkovišti. Splňuji si svůj sen dokonalé samostatnosti a umožňuji si tím trávit příjemné chvíle na cestách. Charakterizoval bych své zájmy v následujících oblastech:
				p.upperPane__presIntro__p2 Využití  /  Dostupnost  /  Komfort  /  Kvalita

			ul.middlePane
				li.middlePane__item
					img(src="../img/index/prezentace/vyuziti.jpg", alt="Využití aut Auto Caravan Sport")
					p #[span Využití] Auta jsou ideální pro polykání kilometrů na dálnicích. Dokáží poskytnout určitý komfort potřeb k pobytu a přesto mohou sloužit v každodenním provozu jako osobní vozy.

				li.middlePane__item
					img(src="../img/index/prezentace/dostupnost.jpg", alt="Dostupnost aut Auto Caravan Sport")
					p #[span Dostupnost] S vozem se dostanete i na těžko přístupná místa jako přeplněná centra velkoměst, parkoviště v historických částech a to samé při toulkách v přírodě.
				
				li.middlePane__item
					img(src="../img/index/prezentace/komfort.jpg", alt="Komfort aut Auto Caravan Sport")
					p #[span Komfort] V autě můžete spát, vařit, sprchovat se a samozřejmostí je i chemický záchod. Technické vymoženosti vnitřního vybavení jsou veliké. Ať už cestujete kamkoliv, vozíte si sebou pohodlí domova.
				li.middlePane__item
					img(src="../img/index/prezentace/kvalita.jpg", alt="Kvalita aut Auto Caravan Sport")
					p #[span Kvalita] U přestaveb jsou použity komponenty od předních výrobců zabývajících se karavaningem. Německá firma REIMO se  zabývá speciálně prodejem do těchto typů vozidel. Nabízí i celé vozy, nebo jejich kompletní výbavu.

			.bottomPane
				button.presBtn
					p.presBtn__icon Více

	section.work#work
		h2.work__title Má práce
		ul.work__ul
			li.work__item
				a.work__link.ford-custom__link--bg(href="./ford-custom.pug")
					.work__link__btn
						p Ford Transit Custom
				p.work__txt Má poslední práce, dezignově povedený Ford jsem se pokusil  přizpůsobit buď početnější rodině nebo jenom sólo páru.

			li.work__item
				a.work__link.ford-2000__link--bg(href="./ford-2000.pug")
					.work__link__btn
						p Ford Transit 2000
				p.work__txt Nejrozšířenější  vestavba pro krátké typy vozů. Počet sedících jsou pro 4 osoby a celkem pohodlné jsou i 4 místa pro spaní.

			li.work__item
				a.work__link.ford-1996__link--bg(href="./ford-1996.pug")
					.work__link__btn
						p Ford Transit 1996
				p.work__txt Vzpomínka na první práci, která uspokojila 4-člennou rodinu a sloužila poctivě 16 let karavaningu.

	.about-outer#about
		.about
			section.about-txt
				h2.about__title Jak to začalo
				.about-txt__inner
					p Myšlenka začala v roce 1994 po zakoupení staršího vozu Ford Transit. Nadšení pro volnost v prožití svého volného času se stávala silnější a po tom, co jsem se zamiloval do windsurfingu, bylo rozhodnuto. Otvíraly se nové možnosti. Nemusel jsem kvůli surfu utíkat od rodiny, ale rodinu jsem brával s sebou. 14 denní dovolená se protáhla od jara do podzimu. Od Baltu, přes všechna jezera a přehrady až k Středozemnímu moři. Příjezdy do neznámých oblastí, a já měl vše s sebou, přece jen dodávalo více klidu. Auto bylo pro mne něco víc než jen pro převoz z místa do místa.
					p Jak děti rostly začalo docházet k jeho postupné přestavbě a já se rozhodoval, co je důležité koupit dřív. Prosadit finance z rodinného rozpočtu na zakoupení životně důležité součásti obytného vozu byl prostě problém. Byla to nejdelší přestavba, ale šla tak nějak nenápadně s mou rodinou. Vše mělo své kouzlo. Teď, co se život přehoupl do druhé poloviny, je to zase trochu jiné. Zakoupil jsem už nové auto, Ford Transit Custom, a představa o vnitřní vestavbě dostala novou tvář. S manželkou nám stačí jedna postel a blížící se vnoučátka si budem brát na víkend jenom po jednom. Na těchto stránkách bych Vás chtěl seznámit s tímto typem karavaningu a se svou částečnou činností v tomto směru.

	blockquote.sub-about__quote Karavaning bych přirovnal k hudbě. Hudba poskytuje radost obrovské spoustě posluchačů a každý si najde tu svou. Také karavaning má široký rozsah zájmů a je třeba si vybrat ten svůj. 

	.contact-outer#contact
		section.contact
			h2.contact__title Kontakt
			p.contact__icon.contact__icon--email palisa.libor@gmail.com
			p.contact__icon.contact__icon--tel +420 605 532 809
			address.contact__address
				p.contact__icon.contact__icon--loc Kotojedy 60<br>Kroměříž<br>767 01
				img.contact__map(src="../img/icons/kromerizOnMap.svg", alt="Kroměříž na mapě ČR")

			p.contact-fb Najděte mě na facebooku:
			a.contact-fb-link(href="https://www.facebook.com/Auto-Caravan-Sport-sro-871786519617622/"): img.contact-fb__icon(src="../img/icons/fb-icon2.svg")
			
	.contact-form-outer
		form.contact-form(action="https://formspree.io/palisa.libor@gmail.com", method="POST")
			h2.contact-form__title Napište mi
			input.form__name(placeholder="Jméno", type="text", name="name")
			input.form__email(placeholder="Email", type="email", name="_replyto")
			textarea.form__zprava(placeholder="Napište mi co Vás zaujalo...", name="message")
			input.form__sent(type="submit", value="Odeslat")

block footer
	footer.footer
		section.footer_nav
			a.footer__nav__item.footer__goTop(href="#header") Nahoru
		setion.footer__info
			p.footer__copyright &#169; Auto Caravan Sport s.r.o. 2016

			a(href="https://www.facebook.com/Auto-Caravan-Sport-sro-871786519617622/").footer__fb Najděte mě na facebooku

			p.footer__credits Design a tvorba webu: 
				a(href="https://radekpalisa.com", target="_blank") Radek Palisa

block local-scripts
