/*
*
* ********   Gallery Module    ***********
*
*/

.galerie-container {
	margin: 0 auto;
}

.gallery {
	max-width: 65em;
	background-color: #49597A;
	margin: 0 auto 2em;
	box-shadow: 0px 2px 4px black;
	border-radius: 5px;
}

.gallery header {
	display: flex;
	// justify-content: space-around;
	align-items: center;
	
	.header__h2-container {
		width: 270px;
		height: 180px;
		margin: 0;
		padding: 4px;
		border-radius: 4px;
	}

	h2 {
		width: 100%;
		height: 100%;
		margin: 0;
		line-height: 180px;
		text-align: center;
		color: white;
		// border-radius: 5px;
		background-color: #2E384C;
		background-size: cover;
	}

	p {
		position: relative;
		max-width: 38em;
		// max-width: 450px;
		max-height: 150px;
		margin: auto 2em;
		overflow: hidden;
		color: white;

		&:after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 30%;
			background-image: linear-gradient(rgba(73, 89, 122, 0), rgba(73, 89, 122, 1));
		}
	}
}

.izolace-vozu h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/izolace-vozu.jpg');
}
.sestava-sedadel h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/sestava-sedadel.jpg');
}
.toaletni-kout h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/toaletni-kout.jpg');
}
.kuchynska-skrin h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/kuchynsky-blok.jpg');
}
.postel h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/postel.jpg');
}

.btn-galerie-show {
	cursor: pointer;
	width: 50px;

	svg {
		display: inline-block;
	    width: 20px;
	    transform: rotate(-90deg);

	    path {
	    	fill: #fff;
	    }
	}
}


.gallery section {
	display: none;
	padding: 20px;
}


$thumbnail-width: 189px;
$thumbnail-height: 126.5px;
$thumbnail-url: 
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg';

.izolace-vozu .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 1)}');
}
.sestava-sedadel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 2)}');
}
.toaletni-kout .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 3)}');
}
.kuchynska-skrin .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 4)}');
}
.postel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 5)}');
}

.gallery__thumbnail {
	display: inline-block;
	width: $thumbnail-width;
	height: $thumbnail-height;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: grey;
	margin: 5px;
	transition: 0.3s;
	background-size: auto $thumbnail-height;

	&:hover {
		transition: 0.3s;
		-webkit-filter: brightness(130%)
	}
}

@for $i from 1 through 31  {
	.gallery__thumbnail:nth-of-type(#{$i}) {
		background-position: -($thumbnail-width) * $i + $thumbnail-width; 
	}
}
