/*
*
* ********   Gallery Module    ***********
*
*/

.galerie-container {
	max-width: 65em;
	margin: 0 auto;
}

.gallery {
	background-color: #49597A;
	margin-bottom: 2em;
	padding: 20px 20px 0;
	box-shadow: 0px 2px 4px black;
	border-radius: 5px;

	section {
		display: none;
	}
}

.gallery header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 30px;
	
	h2 {
		width: 270px;
		padding: 74px 0;
		margin: 0;
		text-align: center;
		color: white;
		// border-radius: 5px;
		background-color: #2E384C;
		background-size: cover;
	}

	p {
		max-width: 34em;
		color: white;
	}
}

.izolace-vozu h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/izolace-vozu.jpg');
}
.sestava-sedadel h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/sestava-sedadel.jpg');
}
.toaletni-kout h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/toaletni-kout.jpg');
}
.kuchynska-skrin h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/kuchynsky-blok.jpg');
}
.postel h2 {
	background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url('./img/gallery-thumbs/postel.jpg');
}

.btn-galerie-show {
	cursor: pointer;
	width: 50px;
}

$thumbnail-width: 189px;
$thumbnail-height: 126.5px;
$thumbnail-url: 
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg';

.izolace-vozu .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 1)}');
}
.sestava-sedadel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 2)}');
}
.toaletni-kout .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 3)}');
}
.kuchynska-skrin .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 4)}');
}
.postel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 5)}');
}

.gallery__thumbnail {
	display: inline-block;
	width: $thumbnail-width;
	height: $thumbnail-height;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: grey;
	margin: 5px;
	transition: 0.3s;
	background-size: auto $thumbnail-height;

	&:hover {
		transition: 0.3s;
		-webkit-filter: brightness(130%)
	}
}

@for $i from 1 through 31  {
	.gallery__thumbnail:nth-of-type(#{$i}) {
		background-position: -($thumbnail-width) * $i + $thumbnail-width; 
	}
}
