/*
*
* ********   Gallery Module    ***********
*
*/

.galerie-container {
	max-width: 65em;
	margin: 0 auto;
}

#galerie__menu {
	display: flex;
	margin: 1em 0 5px;
	padding: 0;
	list-style: none;

	li {
		flex-grow: 1;
		text-decoration: none;
		color: dimgrey;
		margin-right: 5px;
		padding: 8px 15px;
		box-shadow: 1px 1px 4px #49597A;
		text-align: center;
		font-size: 1.2em;
		cursor: pointer;
		transition: 0.3s;

		&:last-of-type {
			margin-right: 0
		}
	}
	
	li:hover {
		transform: translateY(2px);
		background-color: #49597A;
		color: aliceblue;
		transition: 0.3s;
	}
	
	li.active {
		background-color: #49597A;
		color: aliceblue;
		box-shadow: 0px 6px 5px 1px #2B3448;
	}
}

#galerie__tabs {
	background-color: #49597A;
	padding: 20px;
	box-shadow: 0px 2px 4px black;

	> section {
		display: none;

		&.active {
			display: block;
		}
	}
}

.gallery header {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 15px;
	
	h2 {
		width: 235px;
		padding: 59px 0;
		text-align: center;
		color: white;
		border-radius: 5px;
		background-color: #2E384C;
	}
	
	p {
		max-width: 38em;
		color: white;
	}
}

$thumbnail-width: 189px;
$thumbnail-height: 126.5px;
$thumbnail-url: 
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg',
	'img/gallery-izolace.jpg';

.izolace-vozu .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 1)}');
}
.sestava-sedadel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 2)}');
}
.toaletni-kout .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 3)}');
}
.kuchynska-skrin .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 4)}');
}
.postel .gallery__thumbnail {
	background-image: url('#{nth($thumbnail-url, 5)}');
}

.gallery__thumbnail {
	display: inline-block;
	width: $thumbnail-width;
	height: $thumbnail-height;
	border: 1px solid rgba(255,255,255,0.7);
	background-color: grey;
	margin: 5px;
	transition: 0.3s;
	background-size: auto $thumbnail-height;

	&:hover {
		transition: 0.3s;
		-webkit-filter: brightness(130%)
	}
}

@for $i from 1 through 31  {
	.gallery__thumbnail:nth-of-type(#{$i}) {
		background-position: -($thumbnail-width) * $i + $thumbnail-width; 
	}
}
