/* Gallery Module */

#gallery-nav {
	margin-top: 40px;

	li {
		display: inline-block;
		text-decoration: none;
		color: dimgrey;
		margin-bottom: -1px;
		padding: 8px 15px;
		border: 1px solid rosybrown;
		font-size: 1.2em;
		cursor: pointer;
		transition: 0.4s;
	}
	
	li:hover {
		background-color: rosybrown;
		color: aliceblue;
		transition: 0.4s;
	}
	
	li.active {
		background-color: rosybrown;
		color: aliceblue;
	}
}

#tab-wrapper {
	background-color: rosybrown;
	padding: 20px;

	article {
		display: none;

		&.active {
			display: block;
		}
	}
}

.gallery {
	
	h2 {
		color: midnightblue;
	}
	
	p {
		max-width: 55em;
	}
	
	section {
		text-align: center;
	}
}

$thumbnail-width: 189px;
$thumbnail-height: 126.5px;
$thumbnail-url: 'img/gallery-izolace.jpg';
	
.gallery__thumbnail {
	display: inline-block;
	width: $thumbnail-width;
	height: $thumbnail-height;
	background-color: grey;
	margin: 5px;
	transition: 0.3s;
	background-image: url('#{$thumbnail-url}');
	background-size: auto $thumbnail-height;

	&:hover {
		transition: 0.3s;
		filter: brightness(130%)
	}
}

@for $i from 1 through 31  {
	.gallery__thumbnail:nth-child(#{$i}) {
		background-position: -($thumbnail-width) * $i + $thumbnail-width; 
	}
}