.logo.logo--fonts
	h1 A.C.S. s.r.o.
	p Auto Caravan Sport
	.underline
		span.line
		span.underline__txt s.r.o.
		span.line

nav.nav.nav--fonts(role="navigation")
	ul
		li: a(href="index.html") Domů
		li: a(href="nabidka.html") Nabídka
		li: a(href="ofirme.html") O firmě
		li: a(href="kontakt.html") Kontakt