doctype html
html
	head
		include html5shiv.jade
		title ACS s.r.o.
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Fira+Sans:400,300,500,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="style.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
		script(type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js")
		
	body
		
		block header-wrapper
			header.header.header--nabidka-bg
				div.header__banner
					div.header__wrapper
						
						include header.jade
		
		block content
		
		block footer
			footer.footer
				p.footer__copyright.footer--middle Auto Caravan Sport s.r.o. 2016
				nav.footer__nav.footer--left
					ul
						li: a(href="index.html") Domů
						li: a(href="nabidka.html") Nabídka
						li: a(href="ofirme.html") O firmě
						li: a(href="kontakt.html") Kontakt
				.footer--right
					img.home-socicon.footer__socicon(src="./img/email-icon.jpeg")
					img.home-socicon.footer__socicon(src="./img/fb-icon.png")
					p.footer__credits Web: 
						a(href="https://www.linkedin.com/in/radek-palisa-96332886", target="_blank") Radek Palisa

		script(src="js/functions.js")