doctype html
html(lang="cs")
	head
		include html5shiv.jade
		title ACS s.r.o.
		meta(charset="utf-8")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="style-min.css")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		
	body

		include browser-notify.jade

		block navigation
			header.site-header#header
				a.logo(href="./index.html") Auto Caravan Sport #[span s.r.o.]
				.menu-icon
					button
				ul.nav__ul(role="navigation")
					li: a.nav__ul__goHome(href="index.html") Zpět domů

		block body
		
		block footer
			footer.footer
				.footer__nav
					a.footer__nav__item.footer__goTop(href="#header") Nahoru
					a.footer__nav__item.footer__goHome(href="./index.html") Domů
					a.footer__nav__item.footer__goContact(href="./index.html#contact") Kontakt

				.footer__info 
					p.footer__copyright &#169; Auto Caravan Sport s.r.o. 2016

					a(href="https://www.facebook.com/Auto-Caravan-Sport-sro-871786519617622/w").footer__fb Najděte mě na facebooku

					p.footer__credits Design a tvorba webu: 
						a(href="http://www.radekpalisa.com", target="_blank") Radek Palisa

		script(src="js/functions.js")

		block local-scripts
			script(src="js/flipster.js")
			script.
				$(function() {
					$('.my-flipster').flipster({
						style: 'flat',
						buttons: true,
						spacing: -0.39,
						scrollwheel: false,
						loop: true,
						start: 3
					});
				});

		
		