li.work__item
	a.work__link.ford-1996__link--bg(href="./ford-1996.html")
		.work__link__h
			svg.podsekce__svg(viewbox="0 0 100 100")
				path(d="M 50,0 L 60,10 L 20,50 L 60,90 L 50,100 L 0,50 Z")
			p Ford Transit 1996