doctype html
html(lang="cs")
	head
		meta(charset="utf-8")
		include html5shiv.pug
		block title-n-meta
		link(rel="apple-touch-icon" sizes="180x180" href="../img/favicons/apple-touch-icon.png")
		link(rel="icon" type="image/png" sizes="32x32" href="../img/favicons/favicon-32x32.png")
		link(rel="icon" type="image/png" sizes="16x16" href="../img/favicons/favicon-16x16.png")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="../sass/main.scss")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js")
		include analytics.pug

	body

		include browser-notify.pug

		block navigation
			header.site-header#header
				a.logo(href="/") Auto Caravan Sport #[span s.r.o.]
				.menu-icon
					button
				ul.nav__ul(role="navigation")
					li: a.nav__ul__goHome(href="/") Zpět domů

		block body
		
		block footer
			footer.footer
				.footer__nav
					a.footer__nav__item.footer__goTop(href="#header") Nahoru
					a.footer__nav__item.footer__goHome(href="/") Domů
					a.footer__nav__item.footer__goContact(href="/#contact") Kontakt

				.footer__info 
					p.footer__copyright &#169; Auto Caravan Sport s.r.o. 2016

					a(href="https://www.facebook.com/Auto-Caravan-Sport-sro-871786519617622/w").footer__fb Najděte mě na facebooku

					p.footer__credits Design a tvorba webu: 
						a(href="https://radekpalisa.com", target="_blank") Radek Palisa

		script(src="../js/functions.js")

		block local-scripts
			script(src="../js/flipster.js")
			script.
				$(function() {
					$('.my-flipster').flipster({
						style: 'flat',
						buttons: true,
						spacing: -0.39,
						scrollwheel: false,
						loop: true,
						start: 3
					});
				});

		
		